In [69]:
import numpy as np
import pandas as pd
from math import sqrt

In [208]:
#Crea el df
head = ["sepallength","sepalwidth","petallength","petalwidth","Class"]
df = pd.read_fwf("iris.data", delimiter=',', header=None, names=head)
df

     sepallength  sepalwidth  petallength  petalwidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [210]:
#Convertir los datos categoricos a numericos.
df["Class"] = df["Class"].astype('category')

In [211]:
df["Class"]=df["Class"].cat.codes

In [212]:
df

     sepallength  sepalwidth  petallength  petalwidth  Class
0            5.1         3.5          1.4         0.2      0
1            4.9         3.0          1.4         0.2      0
2            4.7         3.2          1.3         0.2      0
3            4.6         3.1          1.5         0.2      0
4            5.0         3.6          1.4         0.2      0
..           ...         ...          ...         ...    ...
145          6.7         3.0          5.2         2.3      2
146          6.3         2.5          5.0         1.9      2
147          6.5         3.0          5.2         2.0      2
148          6.2         3.4          5.4         2.3      2
149          5.9         3.0          5.1         1.8      2

[150 rows x 5 columns]

In [75]:
ed = df["Class"].value_counts()
ed

0    50
1    50
2    50
Name: Class, dtype: int64

In [288]:
def KNN(xt,dataframe,class_t,k):

  size = dataframe.shape[0]
  setDist = []
  results = pd.DataFrame()

  #Calcular distancias.

  for row in range(size):
    setSubs =  ((xt.iloc[0,0] - dataframe["sepallength"][row])**2) + ((xt.iloc[0,1] - dataframe['sepalwidth'][row])**2) + ((xt.iloc[0,2] - dataframe['petallength'][row])**2) + ((xt.iloc[0,3] - dataframe['petalwidth'][row])**2)
    setDist.append(sqrt(setSubs))

  results["Distance"] = setDist
  results["Class"] = class_t["Class"]

  #Ordenar valores en orden ascendente.
  sortResults = results.sort_values(by=["Distance"], ignore_index = True)

  #Seleccionar los k elementos con la menor distancia 
  k_sortResults  = sortResults.head(k)

  #Conteo de las clases de los k vecinos cercanos X.
  count_Class  = k_sortResults["Class"].value_counts()

  #print(count_Class)

  #ex.values[0]
  #index
  #value
  #Regresa la clase mayoritaria de count_Class.
  return count_Class.idxmax()

In [129]:
#Prueba del funcionamiento
"""
test = [2.5,3.2,3.4,1.2]

k_n=5

result = KNN(test,df,k_n)

if result == 0:
  print("Iris-setosa")
elif result == 1:
  print("Iris-versicolor")
elif result == 2:
  print("Iris-virginica")
  """

'\ntest = [2.5,3.2,3.4,1.2]\n\nk_n=5\n\nresult = KNN(test,df,k_n)\n\nif result == 0:\n  print("Iris-setosa")\nelif result == 1:\n  print("Iris-versicolor")\nelif result == 2:\n  print("Iris-virginica")\n  '

In [173]:
def accuracy(pred,true):

  #Se realiza el conteo de las predicciones vs true

  count = 0
  for i in range(pred.shape[0]):
    if pred["Class"][i] == true["Class"][i]:
      count = count + 1

  #Se obtiene el accuracy
  #Predicciones acertadas/Total de datos de prueba
  acc = count/pred.shape[0]

  return acc

In [240]:
x = df.iloc[: , :4]   #Caracteristicas
y = df.iloc[: , -1:]  #Etiquetas

print(x)
print(y)

     sepallength  sepalwidth  petallength  petalwidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]
     Class
0        0
1        0
2        0
3        0
4        0
..     ...
145      2
146      2
147      2
148      2
149      2

[150 rows x 1 columns]

In [271]:
def LOOCV(x_t,y_t):

  # x_t: Dataframe con los parametros de entrada
  # y_t: Clases pertenecientes a x_t
  
  size = x_t.shape[0]
  setClass= []
  results = pd.DataFrame()
  k_n = 15
  

  for row in range(size):
    
    row_test = x_t.iloc[row: row+1, :]   #Selecciona n columna
    
    rows_train = x_t.drop(df.index[row])            #Se elimina la columna n
    rows_train = rows_train.reset_index(drop=True)
    

    class_train = y_t.drop(df.index[row]).reset_index(drop=True)

                                                      #Realiza la clasificacion de row_test

    result =  KNN(row_test, rows_train, class_train, k_n)


    setClass.append(result)     #Se almacenan los resultados
  
  #Predicciones totales
  
  results["Class"] = setClass
  
  #Calculo del accuracy

  acc = accuracy(results,y_t)

  print("Accuracy: ", acc)

In [180]:
LOOCV(x,y)

0.9733333333333334

In [314]:
def holdout(per_te,per_tr,x_t,y_t):
  

  #Se obtiene el porcentaje de los datos de entrenamiento y datos de prueba

  total_train =int((per_tr/100) * x_t.shape[0])
  total_test = int((per_te/100) * x_t.shape[0])

  
                            #Se escogen aleatoriamente los datos del dataframe para almacenarlos en x_train
  x_train = pd.DataFrame()
  x_train = x_t.sample(n=total_train).sort_index(ascending=True)

                            #Los datos sobrantes en el dataframe df se almacenan en x_test
  x_test = x_t.copy()
  x_test = x_test.drop(x_train.index)


  y_train = y_t.copy()
  y_train = y_train.drop(x_test.index)


  y_test = y_t.copy()
  y_test = y_test.drop(y_train.index)

                              #Se resetea el indez de los dataframes
                              
  x_train = x_train.reset_index(drop=True)
  x_test = x_test.reset_index(drop=True)
  y_train = y_train.reset_index(drop=True)
  y_test = y_test.reset_index(drop=True)


  size = x_test.shape[0]
  setClass= []
  results = pd.DataFrame()
  k_n = 5

                

  for row in range(size):

    
    row_test = x_test.iloc[row: row+1, :]   #Selecciona n columna

                                            #Realiza la clasificacion de row_test
    result =  KNN(row_test, x_train, y_train, k_n)


    setClass.append(result)       #Se almacenan los resultados
  
  #Predicciones totales
  

  results["Class"] = setClass

    #Se calcula el accuracy
  
  acc = accuracy(results,y_test)

  print("Accuracy: ", acc)

In [315]:
#Porcentaje de datos para los datos de entrenamiento y prueba
per_train = 50
per_test = 50


holdout(per_test,per_train,x,y)

Accuracy:  0.9866666666666667